<% if user_signed_in? %>
	<h1>disTRACted</h1>
	<h4>get focused, broseph</h4>

	# Display session starter

	<%= render './seshes/form' %>
	<%= render './seshes/index' %>

<% else %>
	<div class="jumbotron">
		<h1>disTRACted</h1>
		<h4>get focused, broseph</h4>
	
		<ul class="nav nav-pills">
			<li><%= link_to "Log in", new_user_session_path %></li>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
		</ul>
	</div>
<% end %>
